.content-section {
  position: relative;
  .assetPlatformTable {
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    flex: 0 0 53%;
    max-height: 53%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    .assetTableControlls {
      height: 50px;
      border-bottom: 1px solid #e7e7e7;
      display: flex;
      .bt-asset {
        padding: 0 50px;
        cursor: pointer;
        border-right: 1px solid #e7e7e7;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 170px;
        font-size: 16px;
        color: $primary-color;
        opacity: 0.7;
        .platform-select {
          display: none;
          position: relative;
          padding: 5px;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #e7e7e7;
          min-width: 170px;
          margin-left: 20px;
          font-weight: normal;
          .btn-togle {
            display: flex;
            align-items: center;
            font-size: 13px;
            font-weight: 600;
            img {
              height: 16px;
              width: 16px;
              margin-right: 8px;
            }
          }
          .platform {
            font-size: 12px;
            margin-left: auto;
            margin-right: 4px;
          }
          .menu {
            border: 1px solid #e7e7e7;
            z-index: 222;
            position: absolute;
            top: 100%;
            left: -1px;
            right: -1px;
            .btn-togle {
              background-color: white;
              border-bottom: 1px solid #e7e7e7;
              padding: 5px;
              display: flex;
              align-items: center;
              font-size: 11px;
              img {
                height: 14px;
                width: 14px;
                margin-right: 12px;
              }
              .platform {
                font-size: 11px;
                margin-left: auto;
                margin-right: 14px;
              }
              &:last-child {
                border: none;
              }
              &:hover {
                background-color: rgb(246, 246, 246);
              }
            }
          }
        }
        &.true {
          opacity: 1;
          font-weight: bold;
          .platform-select {
            display: flex;
          }
        }
      }
      .searchWrapper {
        margin: 0 0 0 auto;
        padding: 0 2%;
        display: flex;
        align-items: center;
        position: relative;
        input {
          border: none;
          background: none;
        }
        .menu {
          border: 1px solid #e7e7e7;
          z-index: 222;
          position: absolute;
          top: 100%;
          left: -1px;
          right: -1px;
          .btn-togle {
            background-color: white;
            border-bottom: 1px solid #e7e7e7;
            padding: 5px;
            display: flex;
            align-items: center;
            font-size: 13px;
            img {
              height: 14px;
              width: 14px;
              margin-right: 12px;
            }
            .platform {
              font-size: 13px;
              margin-left: auto;
              margin-right: 14px;
            }
            &:last-child {
              border: none;
            }
            &:hover {
              background-color: rgb(246, 246, 246);
            }
          }
        }
      }
      .fullIcon {
        height: 17px;
        margin: auto 7% auto 0;
      }
    }
    .tableScrollWrapper {
      .asetPlatformTable {
        position: relative;
        width: 100%;
        .tableHead {
          tr {
            background: rgba(231, 231, 231, 0.27);
            th {
              top: 0;
              position: sticky;
              background: rgb(231, 231, 231);
              font-size: 12px;
              padding: 6px 0;
              &:first-child {
                padding-left: 50px;
              }
            }
          }
        }
        .tableContent {
          tr {
            border-bottom: 1px solid #e7e7e7;
            td {
              font-size: 18px;
              font-weight: 600;
              padding: 36px 0;
              &.coin {
                .coin-name {
                  display: flex;
                  align-items: center;
                  .coinLogo {
                    height: 20px;
                    width: 20px;
                    margin-right: 6px;
                  }
                }
              }
              &.annRate {
              }
              &.dayChange {
                color: #3ea254;
                &.true {
                  color: #f13219;
                }
              }
              &.supply {
              }
              &.chart {
                min-width: 150px;
              }
              &:first-child {
                padding-left: 50px;
              }
            }
          }
        }
      }
    }
    .tableCoinDetail {
      flex: 1;
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      .breadCrumbs {
        padding-left: 20px;
        display: flex;
        .div,
        .bread {
          margin-right: 10px;
          line-height: 1;
          font-size: 12px;
          font-weight: 500;
        }
        .bread {
          cursor: pointer;
          &:hover {
            font-weight: 700;
          }
        }
        color: $primary-color;
      }
      .coinDetail {
        display: flex;
        align-items: center;
        padding: 25px 20px;
        img {
          height: 30px;
        }
        .coinName {
          font-size: 28px;
          font-weight: bold;
          margin-left: 10px;
          color: $primary-color;
        }
        .btnDeposit,
        .btnBuy {
          cursor: pointer;
          height: 90%;
          width: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          font-size: 14px;
        }
        .btnDeposit {
          background: $primary-color;
          color: white;
          margin-left: auto;
        }
        .btnBuy {
          border: $primary-color 1px solid;
          color: $primary-color;
          margin-left: 15px;
        }
      }
      .lastPrice,
      .lastIntrest {
        cursor: pointer;
        flex: 1;
        border: 1px solid #e7e7e7;
        max-height: 35%;
        padding: 0 50px;
        display: flex;
        align-items: center;
        .price {
          flex: 0 0 40%;
          max-width: 40%;
          h2 {
            font-size: 27px;
            margin: 0;
            color: $primary-color;
            small {
              margin-left: 6px;
              font-size: 15px;
              color: #3ea254;
              &.true {
                color: #ea0f0f;
              }
            }
          }
          .label {
            font-size: 12px;
            color: $primary-color;
          }
        }
        .subSec {
          flex: 0 0 20%;
          max-width: 20%;
          h3 {
            font-size: 24px;
            margin: 0;
            color: $primary-color;
          }
          .label {
            font-size: 12px;
            color: $primary-color;
          }
        }
        &:hover {
          box-shadow: inset 0 0 5px #00000040;
        }
      }
      .lastPrice {
        margin-bottom: 15px;
      }
    }

    &.fullScreen {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 2;
    }
  }
  .analyticsEarn {
    border: 1px solid #e7e7e7;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    flex-grow: 1;
    display: flex;
    .menu {
      flex: 0 0 25%;
      border-right: 1px solid #e7e7e7;
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .menu-itm {
        cursor: pointer;
        color: #464b4e;
        font-size: 16px;
        margin-left: 10px;
        opacity: 0.5;
        &.true {
          font-size: 26px;
          font-weight: bold;
          margin: 0;
          opacity: 1;
        }
      }
    }
  }
}
