.assetPlatformTable {
  border: 1px solid #e7e7e7;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  flex: 0 0 60%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  .assetTableControlls {
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    .bt-asset {
      padding: 0 50px;
      cursor: pointer;
      border-right: 1px solid #e7e7e7;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 170px;
      font-size: 16px;
      color: $primary-color;
      opacity: 0.7;
      .platform-select {
        display: none;
        position: relative;
        padding: 5px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #e7e7e7;
        width: 90px;
        margin-left: 20px;
        .btn-togle {
          display: flex;
          align-items: center;
          font-size: 13px;
          img {
            height: 16px;
            width: 16px;
          }
        }
        .menu {
          border: 1px solid #e7e7e7;
          z-index: 222;
          position: absolute;
          top: 100%;
          left: -1px;
          right: -1px;
          .btn-togle {
            background-color: white;
            border-bottom: 1px solid #e7e7e7;
            padding: 5px;
            display: flex;
            align-items: center;
            font-size: 13px;
            img {
              height: 16px;
              width: 16px;
            }
            &:last-child {
              border: none;
            }
          }
        }
      }
      &.true {
        opacity: 1;
        font-weight: bold;
        .platform-select {
          display: flex;
        }
      }
    }
    .searchWrapper {
      margin: 0 0 0 auto;
      padding: 0 7%;
      display: flex;
      align-items: center;
      input {
        border: none;
        background: none;
      }
    }
  }
  .tableScrollWrapper {
    .asetPlatformTable {
      position: relative;
      width: 100%;
      .tableHead {
        tr {
          background: rgba(231, 231, 231, 0.27);
          th {
            top: 0;
            position: sticky;
            background: rgb(231, 231, 231);
            font-size: 12px;
            padding: 6px 0;
            &:first-child {
              padding-left: 50px;
            }
          }
        }
      }
      .tableContent {
        tr {
          border-bottom: 1px solid #e7e7e7;
          td {
            font-size: 18px;
            font-weight: 600;
            padding: 25px 0;
            &.coin {
              .coin-name {
                display: flex;
                align-items: center;
                .coinLogo {
                  height: 20px;
                  width: 20px;
                  margin-right: 6px;
                }
              }
            }
            &.annRate {
            }
            &.dayChange {
            }
            &.supply {
            }
            &.chart {
              min-width: 150px;
            }
            &:first-child {
              padding-left: 50px;
            }
          }
        }
      }
    }
  }
}
.areaBelowTable {
  border: 1px solid #e7e7e7;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  flex-grow: 1;
}
