.footer-main {
  height: 70px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  svg {
    height: 34%;
    cursor: pointer;
  }
  &:hover {
    svg {
      transform: scale(1.02);
    }
  }
}
