.footer-rates {
  flex: 0 0 130px;
  max-height: 130px;
  display: flex;
  flex-direction: column;
  .current-rates {
    padding: 15px;
    background: #4d4d4d;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h5 {
      font-size: 22px;
      color: white;
      line-height: 1;
      margin: 0;
    }
  }
  .rates-list {
    display: flex;
    flex-grow: 1;
    .coin {
      flex: 0 0 25%;
      max-width: 25%;
      display: flex;
      border-left: 0.5px solid #e7e7e7;
      .coin-logo {
        display: flex;
        img {
          margin: auto;
          height: 30%;
        }
      }
      .rate-text {
        display: flex;
        .rate {
          margin: auto;
          text-align: center;
          font-size: 27px;
          small {
            font-size: 14px;
            color: #3ea154;
            margin-top: auto;
            svg {
              height: 14px;
            }
          }
        }
      }
    }
  }
}
