.footer-main {
  height: 70px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  color: white;
  font-size: 18px;
  svg {
    margin-left: 20px;
    cursor: pointer;
  }
  .text {
    margin-left: 20px;
    font-weight: 600;
  }
  .btnGetStarted {
    font-size: 14px;
    cursor: pointer;
    margin-right: 80px;
    margin-left: auto;
    height: 60%;
    padding: 0 1%;
    background-color: white;
    color: $primary-color;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
}
