.pb-p-25 {
  padding-bottom: 25%;
}
.disable {
  opacity: 0.2;
  cursor: wait !important;
}
.disabledValue {
  opacity: 0.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $primary-color;
}

.growAssets {
  display: flex;
  flex-direction: column;
  .head {
    height: 65px;
    display: flex;
    .textNBtns {
      flex-grow: 1;
      background: $primary-color;
      display: flex;
      align-items: center;
      padding-left: 120px;
      img {
        height: 45%;
        filter: brightness(0) invert(1);
        margin: 0 15px;
      }
      h6 {
        line-height: 1;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        color: white;
        u {
          cursor: pointer;
        }
      }
    }
  }
}

.headTabsWrapper {
  height: 60px;
  border-bottom: 1px solid $vault-border-color;
  display: flex;
  .headTab {
    align-items: center;
    display: flex;
    width: 150px;
    padding: 0 30px;
    border-right: 1px solid $vault-border-color;
    opacity: 0.5;
    font-size: 11px;
    position: relative;
    .text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .bt-close {
      cursor: pointer;
      position: absolute;
      font-size: 18px;
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
      line-height: 0.7;
      color: gray;
    }
    &.true {
      width: unset;
      opacity: 1;
      font-size: 14px;
    }
  }
}

.whatIsAssetsIo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 5;
  padding: 60px 80px;
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logoSvg {
      height: 40px;
    }
    .closeWhatIsAsset {
      cursor: pointer;
      height: 25px;
    }
  }
}
