.icedIndex .icedContainer .mainContent .content-section.indices {
  padding: 0;
  display: flex;
  flex-direction: column;
  .home-page {
    zoom: 0.9;
    height: 0;
    flex-grow: 1;
    &.fullscreen {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: unset;
      position: fixed;
    }
  }
}
