.transaction-layout {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  .side-bar {
    flex: 0 0 22%;
    max-width: 22%;
    border-right: 0.5px solid $vault-border-color;
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    max-height: 100vh;
    .profile {
      padding: 60px 50px 0 50px;
      img {
        width: 60px;
        height: 60px;
        background-color: #f7d7cd;
        border-radius: 6px;
        margin: auto;
      }
      h5 {
        color: #1b2733;
        margin-bottom: 6px;
        font-weight: bold;
      }
      .currencySelect {
        cursor: pointer;
        color: #637282;
        border: 1px solid $vault-border-color;
        padding: 3px 6px;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        display: flex;
        align-items: center;
        img{
          background: none;
          height: 16px;
          width: 16px;
          margin-right: 6px;
        }
        h6{
          font-size: 14px;
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
          margin: 0;
        }
      }
      @include xxxl {
        zoom: 0.95;
        .side-bar {
          .rate-list-wrapper {
            max-height: 50%;
          }
        }
      }
      @include xxl {
        zoom: 0.85;
      }
      @include xl {
        zoom: 0.75;
      }
      @include lg {
        zoom: 0.65;
      }
    }

    .menu-scrl {
      flex: 1;
      height: unset !important;
    }
    .menu-side {
      padding: 0 50px;
      justify-content: center;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      justify-content: flex-start;
      .spacer {
        height: 1px;
        min-height: 1px;
        width: 100%;
      }
      .menu-itm {
        flex: 0 0 33.333%;
        cursor: pointer;
        text-decoration: none !important;
        h5 {
          line-height: 1;
          font-weight: normal;
          color: #637282;
          text-decoration: none;
          margin-bottom: 0.25rem;
          font-size: 17px;
          img {
            height: 16px;
            width: 20px;
            display: flex;
            align-content: flex-start;
            margin-right: 1.5rem;
          }
        }
        &:hover,
        &.active {
          h5,
          svg {
            font-weight: bold;
            color: #212529;
          }
        }
      }
      .submenu {
        padding-left: 20px;
      }
    }
    .tab-inrest-asset {
      margin-top: auto;
      display: flex;
      border: 1px $vault-border-color;
      border-style: solid none none none;
      margin-bottom: -1px;
      .tab-itm {
        cursor: pointer;
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        justify-content: center;
        padding: 14px 6px;
        border-bottom: 2px solid $vault-border-color;
        font-size: 14px;
        &.true {
          border-color: $primary-color;
        }
      }
      @include xxxl {
        zoom: 0.9;
        .side-bar {
          .rate-list-wrapper {
            max-height: 50%;
          }
        }
      }
      @include xxl {
        zoom: 0.8;
      }
      @include xl {
        zoom: 0.7;
      }
      @include lg {
        zoom: 0.6;
      }
    }
    .rate-list-wrapper {
      margin-top: auto;
      max-height: calc(45vh - 75px + ((45vh - 75px) / 3));
      .rates-list {
        margin-top: -1px;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        .coin {
          height: 100px;
          display: flex;
          padding: 35px 50px;
          border-top: 0.5px solid $vault-border-color;
          align-items: center;
          .coin-logo {
            margin: auto;
            margin-left: 0;
            height: 20px;
          }
          .coin-name {
            font-size: 17px;
          }
          .rate {
            margin: auto;
            margin-right: 0;
            text-align: center;
            font-size: 17px;
            small {
              font-size: 10px;
              color: #3ea154;
              margin-top: auto;
              svg {
                margin-left: 4px;
                height: 11px;
              }
              &.true {
                color: #da3a3a;
                svg {
                  transform: scale(-1);
                  path {
                    fill: #da3a3a;
                  }
                }
              }
            }
          }
        }
        @include xxxl {
          zoom: 0.75;
        }
        @include xxl {
          zoom: 0.65;
        }
        @include xl {
          zoom: 0.55;
        }
        @include lg {
          zoom: 0.45;
        }
      }
    }
    .setNewCurency{
      margin-top: 50px;
      border: 1px $vault-border-color;
      border-style: solid none solid none;
      padding: 10px 50px;
      font-weight: bold;
    }
    .defCoinList{
      flex-grow: 1;
      .coins-list{
        display: flex;
        flex-direction: column;
        .coin {
          cursor: pointer;
          height: 100px;
          display: flex;
          padding: 35px 50px;
          border-top: 0.5px solid $vault-border-color;
          align-items: center;
          .coin-logo {
            margin: auto;
            margin-left: 0;
            height: 20px;
          }
          .coin-name {
            font-size: 17px;
          }}
      }
    }
    .logout {
      height: 75px;
      background: #8b8b8b;
      padding: 25px 15px;
      h5 {
        color: white;
        font-size: 22px;
        line-height: 1;
        font-weight: 600;
        margin: auto;
        text-align: center;
      }
      @include xxxl {
        zoom: 0.8;
      }
      @include xxl {
        zoom: 0.7;
      }
      @include xl {
        zoom: 0.6;
      }
      @include lg {
        zoom: 0.5;
      }
    }
  }
  .page-content {
    @media (max-height: 1050px) {
      zoom: 0.95;
    }
    @include xxxl {
      zoom: 0.8;
      .side-bar {
        .rate-list-wrapper {
          max-height: 50%;
        }
      }
    }
    @include xxl {
      zoom: 0.7;
    }
    @include xl {
      zoom: 0.6;
    }
    @include lg {
      zoom: 0.5;
    }
  }
}
