@import '_mixin';

$trans-time: 300ms;
$width: 500px;

.login-page {
  min-height: 100vh;
  // background-image: url('../images/bg-login.svg');
  background-size: cover;
  background-position: bottom;
  .img-logo {
    width: 30%;
  }
  .login-form {
    margin: 50px 0 100px 0;
    width: $width;
    @include sm {
      width: 90%;
    }
    .group {
      position: relative;
      margin: 15px 0;
    }
    input,
    button {
      width: 100%;
      @media only screen and (max-width: #{768px}) {
        width: 100%;
      }
    }
    input:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #fff inset !important;
      background-color: #faffbd !important;
      background-image: none !important;
      color: #000000 !important;
    }
    .btn-forgot {
      background: none;
      border: none;
      border-bottom: 1px solid #182542;
      width: unset;
    }
    .btn-unbank {
      margin-top: auto;
      margin-bottom: auto;
      background-color: #182542;
      color: white;
    }
    input[type='password'],
    input[type='text'] {
      background: none;
      color: gray;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-radius: 0;
      &:focus {
        outline: none;
      }
      &:focus ~ label,
      &:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: black;
      }
      &:focus ~ .bar:before {
        width: $width;
      }
    }

    input[type='password'] {
      letter-spacing: 0.3em;
    }

    label {
      color: gray;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: $trans-time ease all;
    }
  }
}
