@import '_mixin';
@import '_colours';
@import '_hamburgers';

@import 'layout';
@import 'layoutMobile';
@import 'toast';
@import 'modalConfirm';
@import 'deposit-modal';
@import 'login';
@import 'portfolioDashboard';
@import 'vaults-page';
@import 'vault';
@import 'mobileApps';
@import 'markets';
@import 'icedindex';
@import 'icedIndexMobile';
@import 'login-modal';
@import 'mobileLoginSignup';
@import 'dashContracts';
@import 'vaultCreateContract';
@import 'vaultFab';
@import 'footer';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: Montserrat;
  min-height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .firstVideo {
      background: $primary-color;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 0px !important;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  background: rgba(85, 85, 85, 0.733);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(51, 51, 51);
}

@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
