.portfolioDashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .tab {
    display: flex;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    height: 56px;
    .tab-itm {
      flex: 0 0 20%;
      max-width: 20%;
      cursor: pointer;
      display: flex;
      padding: 16px;
      border-bottom: 2px solid #0000000a;
      h5 {
        color: $primary-color;
        font-size: 16px;
        margin: auto;
        font-weight: 400;
        opacity: 0.25;
      }
      &.active,
      &:hover {
        h5 {
          font-weight: 700;
          opacity: 1;
        }
        border-bottom: 2px solid $primary-color;
      }
    }
  }
  .chartNCards {
    flex: 1;
    display: flex;
    .chartSection {
      flex: 0 0 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px 0 80px 130px;
      .total {
        cursor: pointer;
        margin-bottom: 20px;
        h6 {
          color: $primary-color;
          font-size: 24px;
        }
        h4 {
          color: $primary-color;
          font-size: 55px;
          font-weight: bold;
        }
      }
      .chart-section {
        display: flex;
        .chart {
          width: 250px;
          flex: 0 0 250px;
          position: relative;
          transform-style: preserve-3d;
          margin-right: 20px;
          span {
            width: 100%;
            height: 100%;
          }
          .chartLogo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate3d(0, 0, -1px);
            img {
              width: 45%;
            }
          }
          &:hover {
            transform: scale(1.02);
          }
        }
        .cards-list {
          width: 0 !important;
          flex: 1;
          .view {
            display: flex;
            flex-direction: column;
            h6 {
              font-size: 24px;
              font-weight: 500;
              small {
                font-size: 18px;
                font-weight: 600;
              }
              svg {
                margin: 0 10px 0 0;
              }
              &.inactive {
                opacity: 0.4;
              }
            }
          }
        }
      }
      //
      @media (max-height: 1050px) {
        zoom: 0.95;
      }
      @include xxxl {
        zoom: 0.95;
      }
      @include xxl {
        zoom: 0.85;
      }
      @include xl {
        zoom: 0.75;
      }
      @include lg {
        zoom: 0.65;
      }
    }
    .cardsSection {
      border-left: 1px solid $vault-border-color;
      flex: 0 0 55%;
      display: flex;
      flex-direction: column;
      .indexCard {
        flex: 0 0 20%;
        display: flex;
        padding: 0 80px;
        align-items: center;
        justify-content: space-between;
        .name,
        .value {
          font-weight: 600;
          font-size: 22px;
        }
        &:nth-child(odd) {
          background: #f2f2f2;
        }
      }
      &.detail {
        background: #f2f2f2;
        padding: 80px;
        h3 {
          font-weight: bold;
          font-size: 40px;
          margin-bottom: 0.8rem;
        }
        h6 {
          font-weight: 500;
          font-size: 24px;
        }
        .vaultList {
          height: 0;
          flex-grow: 1;
          .vault-list {
            display: flex;
            flex-direction: column;
            .coin {
              display: flex;
              flex: 0 0 100px;
              align-items: center;
              background: #ffffff;
              border: 1px solid rgba(70, 75, 78, 0.22);
              margin-bottom: 20px;
              padding: 0 60px;
              .coin-logo {
                height: 30px;
                width: 30px;
              }
              .coin-name,
              .rate {
                font-size: 24px;
                font-weight: bold;
              }
              .coin-name {
                text-transform: capitalize;
              }
              .rate {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
  .growAssets {
    display: flex;
    flex-direction: column;
    .head {
      height: 65px;
      display: flex;
      .textNBtns {
        flex-grow: 1;
        background: $primary-color;
        display: flex;
        align-items: center;
        padding-left: 120px;
        img {
          height: 45%;
          filter: brightness(0) invert(1);
          margin: 0 15px;
        }
        h6 {
          line-height: 1;
          font-size: 20px;
          font-weight: 600;
          margin: 0;
          color: white;
          u {
            cursor: pointer;
          }
        }
      }
      .closeDiv {
        cursor: pointer;
        background: $primary-color;
        color: white;
        padding-right: 60px;
        display: none;
        align-items: center;
        font-size: 30px;
      }
    }
    .icingSteps {
      flex-grow: 1;
      display: none;
      .icingStep {
        flex: 0 0 33.333%;
        border-left: 1px solid $vault-border-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 600;
        color: $primary-color;
        .detailCoin {
          flex: 0 0 30%;
          max-height: 30%;
          display: flex;
          flex-direction: column;
          .img {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            font-size: 43px;
            .logo {
              height: 50px;
              margin-right: 10px;
            }
            .logoFull {
              height: 45px;
              margin: 0 auto;
            }
          }
          h6 {
            font-size: 22px;
            text-align: center;
            margin: 10px 0 0 0;
          }
        }
        .issueBond {
          cursor: pointer;
          display: flex;
          flex: 0 0 24%;
          align-items: center;
          font-size: 32px;
          img {
            margin-left: 15px;
            height: 30px;
          }
        }
        &.true {
          background: #f2f2f2;
        }
      }
    }
    &.true {
      flex: 0 0 40%;
      .icingSteps {
        display: flex;
        &.true {
          opacity: 0.7;
        }
      }
      .head {
        .closeDiv {
          display: flex;
        }
      }
    }
  }
}
