.portfolioDashboard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .tab {
    display: flex;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
    height: 56px;
    .tab-itm {
      flex: 0 0 20%;
      max-width: 20%;
      cursor: pointer;
      display: flex;
      padding: 16px;
      border-bottom: 2px solid #0000000a;
      h5 {
        color: $primary-color;
        font-size: 16px;
        margin: auto;
        font-weight: 400;
        opacity: 0.25;
      }
      &.active,
      &:hover {
        h5 {
          font-weight: 700;
          opacity: 1;
        }
        border-bottom: 2px solid $primary-color;
      }
    }
  }
  .chartNCards {
    flex: 1;
    display: flex;
    .chartSection {
      flex: 0 0 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 80px 0 80px 90px;
      .total {
        cursor: pointer;
        margin-bottom: 20px;
        h6 {
          color: $primary-color;
          font-size: 24px;
        }
        h4 {
          color: $primary-color;
          font-size: 55px;
          font-weight: bold;
        }
      }
      .chart-section {
        display: flex;
        .chart {
          width: 250px;
          position: relative;
          transform-style: preserve-3d;
          margin-right: 20px;
          span {
            width: 100%;
            height: 100%;
          }
          .chartLogo {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translate3d(0, 0, -1px);
            img {
              width: 45%;
            }
          }
          &:hover {
            transform: scale(1.02);
          }
          @media (max-height: 1050px) {
            zoom: 0.95;
          }
          @include xxxl {
            zoom: 0.8;
          }
          @include xxl {
            zoom: 0.7;
          }
          @include xl {
            zoom: 0.6;
          }
          @include lg {
            zoom: 0.5;
          }
        }
        .cards-list {
          .view {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .indicator {
              cursor: pointer;
              margin: auto;
              h6 {
                font-size: 24px;
                font-weight: 500;
                small {
                  font-size: 18px;
                  font-weight: 600;
                }
                svg {
                  margin: 0 10px 0 0;
                }
                &.inactive {
                  opacity: 0.4;
                }
              }
            }
          }
        }
      }
    }
    .cardsSection {
      border-left: 1px solid $vault-border-color;
      flex: 0 0 55%;
      display: flex;
      flex-direction: column;
      .indexCard {
        flex: 0 0 20%;
        display: flex;
        padding: 0 80px;
        align-items: center;
        justify-content: space-between;
        .name,
        .value {
          font-weight: 600;
          font-size: 22px;
        }
        &:nth-child(odd) {
          background: #f2f2f2;
        }
      }
      &.detail {
        background: #f2f2f2;
        padding: 80px;
        h3 {
          font-weight: bold;
          font-size: 40px;
          margin-bottom: 0.8rem;
        }
        h6 {
          font-weight: 500;
          font-size: 24px;
        }
        .vaultList {
          height: 0;
          flex-grow: 1;
          .vault-list {
            display: flex;
            flex-direction: column;
            .coin {
              display: flex;
              flex: 0 0 100px;
              align-items: center;
              background: #ffffff;
              border: 1px solid rgba(70, 75, 78, 0.22);
              margin-bottom: 20px;
              padding: 0 60px;
              .coin-logo {
                height: 50px;
                width: 50px;
              }
              .coin-name,
              .rate {
                font-size: 24px;
                font-weight: bold;
              }
              .coin-name {
                text-transform: capitalize;
              }
              .rate {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
  }
  .growAssets {
    display: flex;
    flex-direction: column;
    .head {
      height: 65px;
      display: flex;
      border-bottom: 1px solid $vault-border-color;
      .textNBtns {
        flex-grow: 1;
        background: $primary-color;
        display: flex;
        align-items: center;
        h6 {
          line-height: 1;
          margin: 0;
          margin-left: 90px;
          font-size: 24px;
          font-weight: 600;
          color: white;
        }
        .btnsAsset {
          margin-left: auto;
          margin-right: 40px;
          display: flex;
          .btnAsset {
            height: 40px;
            width: 170px;
            font-size: 14px;
            border: 1px solid white;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: white;
            &.invert {
              color: $primary-color;
              background: white;
            }
          }
        }
      }
      .btnShowHide {
        cursor: pointer;
        height: 65px;
        width: 65px;
        background: white;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 40px;
          width: 40px;
        }
      }
      &.true {
        .textNBtns {
          background: white;
          h6 {
            color: $primary-color;
          }
          .btnAsset {
            cursor: pointer;
            border-color: $primary-color;
            color: $primary-color;
            &.invert {
              background: $primary-color;
              color: white;
            }
          }
        }
        .btnShowHide {
          background: $primary-color;
          color: white;
        }
      }
    }
    .content-steps {
      display: none;
      flex-grow: 1;
      border-top: 0.5px solid $vault-border-color;
      .step-one {
        flex: 0 0 50%;
        max-width: 50%;
        border-right: 0.5px solid $vault-border-color;
        padding: 40px 60px;
        display: flex;
        flex-direction: column;
        h5 {
          color: #464b4e;
          font-size: 24px;
          font-weight: 600;
        }
        .scroll-view {
          display: flex;
          align-items: center;
          .card {
            min-width: 150px;
            opacity: 0.2;
            padding: 30px 10px;
            flex: 1;
            margin-right: 30px;
            align-items: center;
            img {
              width: 60px;
              height: 60px;
              margin-bottom: 20px;
            }
            .coin {
              color: #9b9b9b;
              font-size: 14px;
              margin-bottom: 5px;
            }
            .value {
              color: #828282;
              font-size: 20px;
            }
            &.true {
              opacity: 1;
            }
          }
          @media (max-height: 1050px) {
            zoom: 0.95;
          }
          @include xxxl {
            zoom: 0.85;
          }
          @include xxl {
            zoom: 0.75;
          }
          @include xl {
            zoom: 0.65;
          }
          @include lg {
            zoom: 0.55;
          }
        }
      }
      .step-two {
        flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        .period-hold {
          padding: 40px 60px;
          flex: 1px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h5 {
            color: #464b4e;
            font-size: 24px;
            font-weight: 600;
          }
          .days {
            border: 0.5px solid $vault-border-color;
            border-radius: 8px;
            height: 60px;
            width: 90%;
            display: flex;
            input {
              flex: 1;
              width: 0;
              background: none;
              border: none;
              padding: 0 50px;
              font-size: 24px;
            }
            .btn-days-wrapper {
              width: 140px;
              height: 58px;
              position: relative;
              .btn-days {
                border-radius: 0 8px 8px 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background: $primary-color;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 20px;
                h5 {
                  cursor: pointer;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  height: 58px;
                  font-size: 20px;
                  color: white;
                  margin: 0;
                }
                h6 {
                  cursor: pointer;
                  display: none;
                  width: 100%;
                  align-items: center;
                  justify-content: space-between;
                  height: 35px;
                  font-size: 19px;
                  color: white;
                  margin: 0;
                }
                &.true {
                  border-radius: 0 8px 8px 8px;
                  h5 {
                    margin-bottom: -5px;
                  }
                  h6 {
                    display: flex;
                  }
                }
              }
            }
          }
        }
        .btn-calculate {
          background-color: $primary-color;
          padding: 20px 0;
          h5 {
            display: flex;
            color: white;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            line-height: 1;
            margin: 0;
            justify-content: center;
            align-items: center;
            img {
              margin-left: 15px;
              height: 24px;
            }
          }
        }
      }
    }
    .buttonsList {
      flex: 1;
      display: none;
      flex-direction: column;
      justify-content: center;
      .btnAsset {
        cursor: pointer;
        height: 50px;
        width: 200px;
        border: 1px solid $primary-color;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: $primary-color;
        margin: 10px 0;
      }
    }
    .newContractInitiate {
      display: none;
    }
    &.true {
      flex: 0 0 40%;
      .content-steps {
        display: flex;
      }
      .newContractInitiate {
        display: flex;
      }
      .buttonsList {
        display: flex;
        padding-left: 90px;
      }
    }
  }
}

@keyframes example {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359);
  }
}
