.transaction {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 60px 50px 40px 80px;
  .head {
    height: 60px;
    display: flex;
    margin-bottom: 4rem;
    .vault-n-balance {
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .vault {
        font-size: 17px;
      }
      .balance {
        font-size: 37px;
        font-weight: bold;
      }
    }
    .coin-select {
      display: flex;
      margin-left: auto;
      .coin-wrap {
        height: 60px;
        width: 60px;
        border-radius: 6px;
        border: 1px solid $primary-color;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 40px;
          height: 40px;
        }
        &.true {
          background-color: $primary-color;
          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
  .controlls {
    height: 40px;
    display: flex;
    .drop-select,
    .search {
      padding: 0 20px;
      display: flex;
      border: 1px solid $primary-color;
      color: $primary-color;
      border-radius: 6px;
      justify-content: center;
      align-items: center;
    }
    .search {
      input {
        height: 100%;
        width: 200px;
        border: none;
        background: none;
      }
    }
  }
  .transaction-list {
    margin-top: 30px;
    .transactions {
      .day {
        font-size: 16px;
        line-height: 1;
        padding: 6px 0;
        font-weight: bold;
      }
      .transaction-itm {
        display: flex;
        margin-left: 20px;
        height: 90px;
        img {
          background: #ffeae9;
          height: 40px;
          width: 40px;
          border-radius: 20px;
          margin: auto 20px;
        }
        .name-n-date {
          height: 100%;
          display: flex;
          line-height: 1;
          flex-direction: column;
          justify-content: center;
          .name {
            font-weight: 600;
            font-size: 18px;
          }
          .date {
            font-size: 11px;
          }
        }
        .credit,
        .debit,
        .balance {
          flex: 12%;
          max-width: 12%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
        }
        .credit {
          color: #3ea254;
        }
        .debit {
          color: #ea0f0f;
        }
        .balance {
          color: $primary-color;
          font-weight: bold;
        }
        &:hover {
          background: #f8f9fa;
        }
      }
    }
  }
}
